<h3> <%= @results.empty? ?  "No results Found" : "Results" %> </h3>
<ul class="users">
 <ul class="users">
  <table width="50%">
   <% @results.each do |user| %>
     <tr>
      <td>  <%= link_to user.name, user %> </td>
      <td> 
         <% if !@friends.exists?(user.id) then %>
         <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post %>
         <% else %>
         <%= link_to "Delete Friend", friendship_path(user.id), :method => :delete %>
         <% end %>
      <% if current_user.admin? && !current_user?(user) %> 
        <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %>
      <% end %>
   </td>
 </tr>
 <% end %>
  </table>
</ul>
</ul>
