    <table class="table">
      <thead>
        <tr> <td></td>
          <td>Food</td>
          <td>Calories</td><td>Fat (g)</td>
          <td>Carbs (g)</td><td>Protein (g)</td>
          <td>Sodium (mg)</td><td>Sugar (g)</td>
        </tr>
      </thead>
      <tbody>
        <% @@total = 0 %>
        <tr> <td><h5>Breakfast</h5>
        <%= link_to "",  meal_add_food_path(:meal => "breakfast", :d => @date.strftime("%Y%m%d")), :class => "fa fa-plus-circle", :style => "font-size: 1.5em;" %></td><td></td>
	    <td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
        <% breakfasts.each do |meal| %>
 	  <%if !meal.food.calories.nil? then @@total += meal.food.calories end	 %>
        <tr>
          <td><%= button_to "x", {:controller => :meals, :action => 'destroy', :id=> meal.id}, class: 'btn btn-small close' , :method => :delete %></td>
          <td><%= meal.food.name %> </td>
          <td><%= meal.food.calories == nil ? '0' : meal.food.calories %> </td>
          <td><%= meal.food.totalfat == nil ? '0' : meal.food.totalfat %> </td>
          <td><%= meal.food.carbs == nil ? '0' : meal.food.carbs %> </td>
          <td><%= meal.food.protein == nil ? '0' : meal.food.protein %> </td>
          <td><%= meal.food.sodium == nil ? '0' : meal.food.sodium %> </td>
          <td><%= meal.food.sugar == nil ? '0' : meal.food.sugar %> </td>
	</tr>
        <% end %>
        <tr> <td><h5>Lunch</h5>
        <%= link_to "",  meal_add_food_path(:meal => "lunch", :d => @date.strftime("%Y%m%d")), :class => "fa fa-plus-circle", :style => "font-size: 1.5em;" %></td><td></td>
	    <td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
        <% lunches.each do |meal| %>
 	  <%if !meal.food.calories.nil? then @@total += meal.food.calories end	 %>
        <tr>
          <td><%= button_to "x", {:controller => :meals, :action => 'destroy', :id=> meal.id}, class: 'btn btn-small close' , :method => :delete %></td>
          <td><%= meal.food.name %> </td>
          <td><%= meal.food.calories == nil ? '0' : meal.food.calories %> </td>
          <td><%= meal.food.totalfat == nil ? '0' : meal.food.totalfat %> </td>
          <td><%= meal.food.carbs == nil ? '0' : meal.food.carbs %> </td>
          <td><%= meal.food.protein == nil ? '0' : meal.food.protein %> </td>
          <td><%= meal.food.sodium == nil ? '0' : meal.food.sodium %> </td>
          <td><%= meal.food.sugar == nil ? '0' : meal.food.sugar %> </td>
	</tr>
        <% end %>
        <tr> <td><h5>Dinner</h5>
        <%= link_to "",  meal_add_food_path(:meal => "dinner", :d => @date.strftime("%Y%m%d")), :class => "fa fa-plus-circle", :style => "font-size: 1.5em;" %></td><td></td>
	    <td></td><td></td><td></td><td></td><td></td><td></td>
      </tr>
        <% dinners.each do |meal| %>
 	  <%if !meal.food.calories.nil? then @@total += meal.food.calories end	 %>
        <tr>
          <td><%= button_to "x", {:controller => :meals, :action => 'destroy', :id=> meal.id}, class: 'btn btn-small close' , :method => :delete %></td>
          <td><%= meal.food.name %> </td>
          <td><%= meal.food.calories == nil ? '0' : meal.food.calories %> </td>
          <td><%= meal.food.totalfat == nil ? '0' : meal.food.totalfat %> </td>
          <td><%= meal.food.carbs == nil ? '0' : meal.food.carbs %> </td>
          <td><%= meal.food.protein == nil ? '0' : meal.food.protein %> </td>
          <td><%= meal.food.sodium == nil ? '0' : meal.food.sodium %> </td>
          <td><%= meal.food.sugar == nil ? '0' : meal.food.sugar %> </td>
	</tr>
        <% end %>
      </tbody>
    </table> 
